{% extends "calibration/base.html" %}

{% block body %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show mt-1" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="card text-center mt-3">
        <div class="card-header">
            <h4>Currently Available</h4>
        </div>
        
        {% for coffee in coffees %}
        {% if coffee.is_available %}
        <button class="btn btn-sm btn-default mb-2 mt-1" type="button" data-toggle="collapse"
            data-target="#coffeeCollapse-{{coffee.id}}" aria-expanded="false"
            aria-controls="coffeeCollapse-{{ coffee.id }}">
            {{ coffee.name }}
            {% if coffee.is_guest %}
            <p> <small>{{ current_month }}'s guest </small> </p>
            {% endif %}
        </button>
        <div class="collapse" id="coffeeCollapse-{{ coffee.id }}">
            <div class="card card-body mb-2 mt-1">
                <p class="border rounded">Origin: {{ coffee.origin }}</p>
                <p class="border rounded">Traceability: {{ coffee.traceability }}</p>
                <p class="border rounded">Process: {{ coffee.process }}</p>
                <p class="border rounded">Roast Profile: {{ coffee.roast_profile }}</p>
                <p class="border rounded">Tasting notes: {{ coffee.taste_profile }}</p>
                <div class="card-footer text-muted">
                    Category: {{ coffee.display_category }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <hr>

    <div class="card text-center mt-3">
        <div class="card-header">
            <h4>
            Espresso
            <a href="{% url 'espresso_log' %}" class="btn btn-sm btn-primary ml-3">Add</a>
            </h4>
        </div>
        {% for espresso_log in espresso_logs %}
        <button class="btn btn-sm btn-default mb-2 mt-1" type="button" data-toggle="collapse"
            data-target="#espressoLog-{{ espresso_log.id }}" aria-expanded="false"
            aria-controls="coffeeCollapse-{{ coffee.id }}">
            Date: {{ espresso_log.timestamp }}
        </button>
        <div class="collapse" id="espressoLog-{{ espresso_log.id }}">
            <div class="card card-body mb-2 mt-1">
                <p class="border rounded">{{ espresso_log.coffee_name }}</p>
                <p class="border rounded">Recipe: {{ espresso_log.dry_weight }} - {{ espresso_log.wet_weight }}</p>
                <p class="border rounded">Notes: {{ espresso_log.notes }}</p>
                <div class="card-footer text-muted">
                    <a href="{% url 'edit_espresso_log' espresso_log.id %}" class="btn btn-sm btn-primary">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="card text-center mt-3">
        <div class="card-header">
            <h4>
            Filter
            <a href="{% url 'filter_log' %}" class="btn btn-sm btn-primary ml-3">Add</a>
            </h4>
        </div>
        
        {% for filter_log in filter_logs %}
        <button class="btn btn-sm btn-default mb-2 mt-1" type="button" data-toggle="collapse"
            data-target="#filterLog-{{ filter_log.id }}" aria-expanded="false"
            aria-controls="coffeeCollapse-{{ coffee.id }}">
            Date: {{ filter_log.timestamp }}
        </button>
        <div class="collapse" id="filterLog-{{ filter_log.id }}">
            <div class="card card-body mb-2 mt-1">
                <p class="border rounded">{{ filter_log.coffee_name }}</p>
                <p class="border rounded">Method: {{ filter_log.method }}</p>
                <p class="border rounded">Notes: {{ filter_log.notes }}</p>
                <p class="border rounded">Recipe: {{ filter_log.recipe }}</p>
                <div class="card-footer text-muted">
                    <a href="{% url 'edit_filter_log' filter_log.id %}" class="btn btn-sm btn-primary">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
     </div>




</div>
{% endblock %}